.Footer {
    padding: 2rem 0;
    background-color: #4d4646;
    color: white;
    display: flex;
    flex-direction: column;
}

.Footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid grey;
}

.Footer-about {
    flex: 0 0 50%;
    text-align: left;
}

.Footer-links {
    flex: 1;
}

.Footer-links li {
    list-style-type: none;
    width: 80%;
}

.Footer-links a {
    padding: 0.5rem 1.5rem;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    color: white;
}

.Footer-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Footer-contact {
    flex: 1;
}

.Footer-contact li {
    list-style: none;
}

.footer-Logo img {
    width: 100px;
    height: 100px;
}

.Footer-container h3:first-of-type {
    color: #bfd2da;
}

.footer-copywrite {
    font-size: 1.2rem;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}


@media only screen and (max-width: 768px) {
    .Footer-container {
        flex-flow: column;
        text-align: center;
        align-items: center;
    }

    ul {
        padding: 0;
    }

    .Footer-about {
        text-align: center;
    }

    .Footer-links {
        text-align: center;
    }

    .Footer-contact {
        text-align: center;
    }
}


