.Movie {
    margin: 0.5rem;
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

.Movie-Card img {
    width: 100%;
}

.card-Button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CardTitle {
    font-size: 0.8rem;
    font-weight: 800;
}
